<div class="layui-header">
	<div class="logo">cms</div>
	<!-- 头部区域（可配合layui已有的水平导航） -->
	<!-- 显示/隐藏菜单 -->
	<a href="javascript:;" class=" seraph hideMenu icon-caidan"></a>
	<ul class="layui-nav layui-layout-right">
		<li class="layui-nav-item">
			<a href="javascript:;">
				<img src="http://t.cn/RCzsdCq" class="layui-nav-img"> 黄照阳
			</a>
			<dl class="layui-nav-child">
				<dd>
					<a href="/userInfo">基本资料</a>
				</dd>
				<dd>
					<a href="">安全设置</a>
				</dd>
			</dl>
		</li>
		<li class="layui-nav-item">
			<a href="/quit">退出</a>
		</li>
	</ul>
</div>
